body {
    background-color: #FFFFFF;

}

.google {
    margin: 10px 42% 0 42%;
    text-align: center;
}

.table {
    border: 0;
    width: 90%;
    margin-left: 5%;
}

.bg-like-gray {
    background-color: #EEEEEE;   
}

.center {
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 1px;
}